<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>   
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>New Year Countdown Timer</h1>
    <div class="label">
        <h2>Days</h2>
        <h2>Hours</h2>
        <h2>Minutes</h2>
        <h2>Seconds</h2>
    </div> 
<div class="main_wrapper"> 
    <span id="days">00</span>
    <span class="col_three">:</span> 
    <span id="hrs">00</span>
    <span class="col_one">:</span>
    <span id="min">00</span>
    <span class="col_two">:</span>
    <span id="sec">00</span>
</div>

<div class="btn_wrapper">
    <button id="startbtn">Start Countdown</button>
    <!-- <button id="pausebtn">Pause Timer</button>
    <button id="resetbtn">Clear Timer</button> -->
</div>



    
<script src="/main.js"></script>
</body>
</html>